*{
    font-family: 'Poppins', sans-serif;
    body{
        display: flex;
        justify-content: center;
        .con{
            width: 500px;
            height: 500px;
            background-color: #eb9478;
  
    h2{
        margin-left: 50px;
        color: #493d6f;
    }
    input{
        border: none;
        border-radius: 3px;
    }
        }
    }
}